Integration Google Forms, Text parser, HTTP, APITemplate.io, Gmail.blueprint (1).json
{
    "name": "Integration Google Forms, Text parser, HTTP, APITemplate.io, Gmail",
    "flow": [
        {
            "id": 2,
            "module": "google-forms:watchResponses",
            "version": 2,
            "parameters": {
                "limit": 1,
                "formId": "1-q0GNi76bQcEx_C-ojtKWYLNx8uPnI0DVx0hxHNhDMI",
                "__IMTCONN__": 9122859
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "formId": {
                            "rpcSearch": {
                                "label": "youtube summarizer",
                                "value": "1-q0GNi76bQcEx_C-ojtKWYLNx8uPnI0DVx0hxHNhDMI"
                            }
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "formId",
                        "type": "text",
                        "label": "Form ID",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "responseId",
                        "type": "text",
                        "label": "Response ID"
                    },
                    {
                        "name": "createTime",
                        "type": "date",
                        "label": "Create Time"
                    },
                    {
                        "name": "lastSubmittedTime",
                        "type": "date",
                        "label": "Last Submitted Time"
                    },
                    {
                        "name": "respondentEmail",
                        "type": "text",
                        "label": "Respondent Email"
                    },
                    {
                        "name": "answers",
                        "spec": [
                            {
                                "name": "4ba5925b",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Your Email"
                            },
                            {
                                "name": "4ad13107",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Youtube URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Answers"
                    },
                    {
                        "name": "totalScore",
                        "type": "number",
                        "label": "Total Score"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "global": false,
                "pattern": "(?:v=|youtu\\.be/|shorts/)([a-zA-Z0-9_-]{11})",
                "multiline": false,
                "sensitive": true,
                "singleline": false,
                "continueWhenNoRes": false
            },
            "mapper": {
                "text": "{{2.answers.`4ad13107`}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "name": "$1",
                        "type": "text",
                        "label": "$1"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://api.supadata.ai/v1/youtube/transcript?videoId={{3.`$1`}}",
                "method": "get",
                "headers": [
                    {
                        "name": "x-api-key",
                        "value": "sd_87f2d9e4ca1496a3b1d276cc02406df6"
                    }
                ],
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "contentType": {
                            "label": "Empty"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "method": "post",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer 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"
                    }
                ],
                "contentType": "json",
                "inputMethod": "dataStructure",
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "bodyDataStructure": 497672,
                "dataStructureBodyContent": {
                    "model": "openrouter/free",
                    "messages": [
                        {
                            "role": "user",
                            "content": "Summarize this YouTube video transcript in 150 words with 3 key takeaways as bullet points:{{4.data}}"
                        }
                    ]
                },
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "inputMethod": {
                            "label": "Data structureDefine the JSON body with a data structure to map or enter values for each key. JSON reserved characters are escaped automatically."
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "bodyDataStructure": {
                            "label": "My data structure"
                        },
                        "dataStructureBodyContent": {
                            "nested": {
                                "messages": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "bodyDataStructure",
                        "type": "udt",
                        "label": "Body structure",
                        "required": true
                    },
                    {
                        "name": "dataStructureBodyContent",
                        "spec": [
                            {
                                "name": "model",
                                "type": "text",
                                "label": "Model"
                            },
                            {
                                "name": "messages",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "role",
                                            "type": "text",
                                            "label": null
                                        },
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": null
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Messages"
                            }
                        ],
                        "type": "collection",
                        "label": "Body content"
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "apitemplate-io:createpdf",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 9123369
            },
            "mapper": {
                "is_cmyk": false,
                "json_key": [
                    {
                        "key": "video_title ",
                        "value": "{{2.answers.`4ad13107`}}"
                    },
                    {
                        "key": "summary_text ",
                        "value": "{{5.data.choices[].message.content}}"
                    }
                ],
                "expiration": "0",
                "template_id": "f9677b2326dd4fe8",
                "payload_type": "kvp",
                "pdf_standard": "Default",
                "generation_delay": "0",
                "image_resample_res": "0"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "is_cmyk": {
                            "mode": "chose"
                        },
                        "json_key": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "expiration": {
                            "mode": "chose",
                            "label": "Never"
                        },
                        "template_id": {
                            "mode": "chose",
                            "label": "New Template"
                        },
                        "payload_type": {
                            "mode": "chose",
                            "label": "Key Value Pairs"
                        },
                        "pdf_standard": {
                            "mode": "chose",
                            "label": "Default"
                        },
                        "generation_delay": {
                            "mode": "chose",
                            "label": "Never"
                        },
                        "image_resample_res": {
                            "mode": "chose",
                            "label": "Never"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "apitemplate-io"
                            },
                            "label": "My APITemplate.io connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:apitemplate-io",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "payload_type",
                        "type": "select",
                        "label": "Payload Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "kvp",
                                "json"
                            ]
                        }
                    },
                    {
                        "name": "template_id",
                        "type": "select",
                        "label": "Template ID",
                        "required": true
                    },
                    {
                        "name": "expiration",
                        "type": "select",
                        "label": "Expiration",
                        "validate": {
                            "enum": [
                                "0",
                                "1",
                                "3",
                                "5",
                                "10",
                                "30",
                                "60",
                                "360",
                                "720",
                                "1440",
                                "4320",
                                "10080"
                            ]
                        }
                    },
                    {
                        "name": "generation_delay",
                        "type": "select",
                        "label": "Delay",
                        "validate": {
                            "enum": [
                                "0",
                                "1000",
                                "2000",
                                "5000",
                                "10000"
                            ]
                        }
                    },
                    {
                        "name": "is_cmyk",
                        "type": "boolean",
                        "label": "CMYK"
                    },
                    {
                        "name": "image_resample_res",
                        "type": "select",
                        "label": "Image Resample Resolution",
                        "validate": {
                            "enum": [
                                "0",
                                "1200",
                                "600",
                                "300",
                                "150",
                                "96",
                                "72"
                            ]
                        }
                    },
                    {
                        "name": "pdf_standard",
                        "type": "select",
                        "label": "PDF Standard [Deprecated]",
                        "validate": {
                            "enum": [
                                "Default",
                                "PDFA1B",
                                "PDFA2",
                                "PDFA3"
                            ]
                        }
                    },
                    {
                        "name": "json_key",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Key Value Pairs"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "http:DownloadFile",
            "version": 4,
            "parameters": {
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "{{6.download_url}}",
                "shareCookies": false,
                "stopOnHttpError": true
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "google-email:sendAnEmail",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 9124234
            },
            "mapper": {
                "to": "madangoud2005@gmail.com",
                "content": "<h2>Hello 👋</h2>\r\n\r\n<p>Your AI-generated YouTube Summary is ready.</p>\r\n\r\n<p>Your PDF summary is attached.</p>\r\n\r\n<p>Thank you for using my AI YouTube Summarizer!</p>",
                "subject": "Your AI YouTube Summary is Ready 📄",
                "bodyType": "rawHtml",
                "attachments": [
                    {
                        "data": "{{12.data}}",
                        "filename": "summaru.pdf"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "edit"
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "from": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Raw HTML"
                        },
                        "attachments": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "emailHeaders": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "My Gmail connection (madangoud2005@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true,
                            "validate": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "rawHtml",
                                "collection"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "filename",
                                    "type": "filename",
                                    "label": "File name",
                                    "required": true,
                                    "semantic": "file:name"
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true,
                                    "semantic": "file:data"
                                }
                            ],
                            "type": "collection",
                            "label": "Attachment"
                        },
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "From"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address"
                        },
                        "type": "array",
                        "label": "CC recipients"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address"
                        },
                        "type": "array",
                        "label": "BCC recipients"
                    },
                    {
                        "name": "emailHeaders",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Email header"
                        },
                        "type": "array",
                        "label": "Additional email headers"
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}